[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-vite = "*"
django-environ = "*"
strawberry-graphql = "*"
strawberry-graphql-django = "*"
blurhash-python = "*"
huey = "*"
redis = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-sendfile2 = "*"
django-guardian = "*"

[dev-packages]
debugpy = "*"

[requires]
python_version = "3.10"
