[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-vite = "*"
django-environ = "*"
strawberry-graphql-django = "*"
blurhash-python = "*"
redis = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-sendfile2 = "*"
django-guardian = "*"
exifread = "*"
requests = "*"
strawberry-graphql = {extras = ["asgi"], version = "*"}
channels-redis = "*"
channels = {extras = ["daphne"], version = "*"}
gevent = "*"
celery = "*"

[dev-packages]
debugpy = "*"
pre-commit = "*"
black = "*"
djlint = "*"
ruff = "*"
bandit = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"
watchdog = "*"
celery = {extras = ["pytest"], version = "*"}
pytest-celery = "*"

[requires]
python_version = "3.10"
